   # Visual Data Analysis of Fraudulent Transactions

In [3]:
# initial imports
import pandas as pd
import calendar
import plotly.express as px
import hvplot.pandas
from sqlalchemy import create_engine
import psycopg2

ModuleNotFoundError: No module named 'psycopg2'

In [2]:
# create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/sql_homework")

ModuleNotFoundError: No module named 'psycopg2'

   ## Data Analysis Questions 1

   Use `hvPlot` to create a line plot showing a time series from the transactions along all the year for **card holders 2 and 18**. In order to contrast the patterns of both card holders, create a line plot containing both lines. What difference do you observe between the consumption patterns? Does the difference could be a fraudulent transaction? Explain your rationale.

In [2]:
# loading data for card holder 2 and 18 from the database
#get all transactions: date, amount, category for card holder 2 in a table
SELECT joined_data.cardholder_id,joined_data.date,joined_data.amount,joined_data.category
FROM (SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
    FROM cardholder INNER JOIN
    creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
    INNER JOIN transactions ON creditcard.card=transactions.card
    INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
    INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
    ORDER BY cardholder.cardholder_id ) AS joined_data
WHERE joined_data.cardholder_id = 2;

#get all transactions: data, amount, category for card holder 18 in a table
SELECT joined_data.cardholder_id,joined_data.date,joined_data.amount,joined_data.category
FROM (SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
    FROM cardholder INNER JOIN
    creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
    INNER JOIN transactions ON creditcard.card=transactions.card
    INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
    INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
    ORDER BY cardholder.cardholder_id ) AS joined_data
WHERE joined_data.cardholder_id = 18;

SyntaxError: invalid syntax (<ipython-input-2-6dd05c761072>, line 3)

In [ ]:
# plot for cardholder 2 transaction amounts over the year
cardholder_2.hvplot.line()

In [ ]:
# plot for cardholder 18 transaction amounts over the year
cardholder_18.hvplot.line()

In [22]:
# combined plot for card holders 2 and 18 transaction amounts over the year
cardholder_df.hvplot.line()

NameError: name 'cardholder_df' is not defined

   ### Conclusions for Question 1
Based on the above line plots for customer 2 and 18 transactions over the year,

   ## Data Analysis Question 2

   Use `Plotly Express` to create a series of six box plots, one for each month, in order to identify how many outliers could be per month for **card holder id 25**. By observing the consumption patters, do you see any anomalies? Write your own conclusions about your insights.

In [23]:
# loading data of daily transactions from jan to jun 2018 for card holder 25
# get transaction data in January (date/time, amount, card, category for card holder 25)
SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
FROM cardholder INNER JOIN
creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
INNER JOIN transactions ON creditcard.card=transactions.card
INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
WHERE date::date BETWEEN date '2018-01-01' AND date '2018-01-31'AND cardholder.cardholder_id = 25
ORDER BY cardholder.cardholder_id;

SyntaxError: invalid syntax (<ipython-input-23-0232cde17d7f>, line 3)

In [ ]:
# get transaction data in February (date/time, amount, card, category for card holder 25)
SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
FROM cardholder INNER JOIN
creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
INNER JOIN transactions ON creditcard.card=transactions.card
INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
WHERE date::date BETWEEN date '2018-02-01' AND date '2018-02-28'AND cardholder.cardholder_id = 25
ORDER BY cardholder.cardholder_id;

In [ ]:
# get transaction data in March (date/time, amount, card, category for card holder 25)
SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
FROM cardholder INNER JOIN
creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
INNER JOIN transactions ON creditcard.card=transactions.card
INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
WHERE date::date BETWEEN date '2018-03-01' AND date '2018-03-31'AND cardholder.cardholder_id = 25
ORDER BY cardholder.cardholder_id;

In [ ]:
# get transaction data in April (date/time, amount, card, category for card holder 25)
SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
FROM cardholder INNER JOIN
creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
INNER JOIN transactions ON creditcard.card=transactions.card
INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
WHERE date::date BETWEEN date '2018-04-01' AND date '2018-04-30'AND cardholder.cardholder_id = 25
ORDER BY cardholder.cardholder_id;

In [ ]:
# get transaction data in May (date/time, amount, card, category for card holder 25)
SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
FROM cardholder INNER JOIN
creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
INNER JOIN transactions ON creditcard.card=transactions.card
INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
WHERE date::date BETWEEN date '2018-05-01' AND date '2018-05-31'AND cardholder.cardholder_id = 25
ORDER BY cardholder.cardholder_id;

In [ ]:
# get transaction data in June (date/time, amount, card, category for card holder 25)
SELECT cardholder.cardholder_id,date,amount,transactions.card,category 
FROM cardholder INNER JOIN
creditcard ON cardholder.cardholder_id=creditcard.cardholder_id
INNER JOIN transactions ON creditcard.card=transactions.card
INNER JOIN merchant ON transactions.merchant_id=merchant.merchant_id
INNER JOIN merchantcategory ON merchant.category_id=merchantcategory.category_id
WHERE date::date BETWEEN date '2018-06-01' AND date '2018-06-30'AND cardholder.cardholder_id = 25
ORDER BY cardholder.cardholder_id;

In [24]:
# change the numeric month to month names
jan_card25['date'] = pd.to_datetime(jan_card25['date'], format='%m').dt.month_name().str.slice(stop=3)
feb_card25['date'] = pd.to_datetime(feb_card25['date'], format='%m').dt.month_name().str.slice(stop=3)
mar_card25['date'] = pd.to_datetime(mar_card25['date'], format='%m').dt.month_name().str.slice(stop=3)
apr_card25['date'] = pd.to_datetime(apr_card25['date'], format='%m').dt.month_name().str.slice(stop=3)
may_card25['date'] = pd.to_datetime(may_card25['date'], format='%m').dt.month_name().str.slice(stop=3)
jun_card25['date'] = pd.to_datetime(jun_card25['date'], format='%m').dt.month_name().str.slice(stop=3)

NameError: name 'cardholder_25' is not defined

In [ ]:
# creating the six box plots using plotly express
#bar plot for january
jan_card25.hvplot.bar()

In [ ]:
#bar plot for february
feb_card25.hvplot.bar()

In [ ]:
#bar plot for march
mar_card25.hvplot.bar()

In [ ]:
#bar plot for april
apr_card25.hvplot.bar()

In [ ]:
#bar plot for may
may_card25.hvplot.bar()

In [ ]:
#bar plot for june
jun_card25.hvplot.bar()

   ### Conclusions for Question 2